@{
    ViewData["Title"] = "Join a group";
}
@model Wrapper
<div class="text-center">
    <p>So you wanna join a group? Too bad @Model.CurrentUser.FirstName!</p>
    <p>Here's all the groups you're NOT in!</p>
    @foreach(Group group in Model.AllGroups)
    {
        <p>@group.Name</p>
    }
</div>