@{
    ViewData["Title"] = "New Group";
}
@model Wrapper
<div class="text-center container col-md-6 d-flex justify-content-center flex-column">
    <div class="col-sm d-flex justify-content-center flex-column">

    <h1>You're in the New Group!</h1>
    <form asp-action="MakeGroup" asp-controller="Home" method="POST">
        <span asp-validation-for="CurrentGroup.Name" class="text-danger"></span>
        <div class="form-group d-flex justify-content-between">
            <label asp-for="CurrentGroup.Name">Name:</label>
            <input asp-for="CurrentGroup.Name">
        </div>
        <span asp-validation-for="CurrentGroup.NeedsMembershipApproval" class="text-danger"></span>
        <div class="form-group d-flex justify-content-between">
            <label asp-for="CurrentGroup.NeedsMembershipApproval">Membership Needs Approval</label>
            <input asp-for="CurrentGroup.NeedsMembershipApproval">
        </div>
        <button class="btn btn-primary">Create New Group!</button>
    </form>
    </div>
</div>